<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044504479464-nk0ugr6rd2qmb8hcbi0v07jojvtsp1h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044504479464-nk0ugr6rd2qmb8hcbi0v07jojvtsp1h2</string>
	<key>API_KEY</key>
	<string>AIzaSyAgO9MNGMgFslAQ93U_Kj1vZLkslyTN-Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>1044504479464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uco.cfisher19.project3</string>
	<key>PROJECT_ID</key>
	<string>cfisher19-cmsc4303-lesson4</string>
	<key>STORAGE_BUCKET</key>
	<string>cfisher19-cmsc4303-lesson4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044504479464:ios:7d840de0c211375c9deb5d</string>
</dict>
</plist>